{% extends 'web/partials/base.html' %}

{% load static %}

{% block content %}

 <!-- ==================== Start Slider ==================== -->

 <header class="slider slider-prlx">
    <div class="swiper-container parallax-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="bg-img valign" data-background="{% static 'web/img/pattern.png' %}" data-overlay-dark="6">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="caption dig">
                                    <h1 data-splitting class=" caption-head">Unique <div class="tline">brand Stories</div>
                                    </h1>
                                    <a href="#0" class="simple-btn mt-50">
                                        <span>Discover Works</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="bg-img valign" data-background="{% static 'web/img/pattern.png' %}" data-overlay-dark="6">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="caption dig">
                                    <h1 data-splitting class=" caption-head">Digital <div class="tline">Design Awards</div>
                                    </h1>
                                    <a href="#0" class="simple-btn mt-50">
                                        <span>Discover Works</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="bg-img valign" data-background="{% static 'web/img/pattern.png' %}" data-overlay-dark="6">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="caption dig">
                                    <h1 data-splitting class="caption-head">Original <div class="tline">Solutions</div>
                                    </h1>
                                    <a href="#0" class="simple-btn mt-50">
                                        <span>Discover Works</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- slider setting -->
        <div class="setone setwo">
            <div class="swiper-button-next swiper-nav-ctrl next-ctrl cursor-pointer">
                <i class="fas fa-chevron-right"></i>
            </div>
            <div class="swiper-button-prev swiper-nav-ctrl prev-ctrl cursor-pointer">
                <i class="fas fa-chevron-left"></i>
            </div>
        </div>
        <div class="swiper-pagination top botm custom-font"></div>

        <div class="social-icon">
            <a href="#0"><i class="fab fa-facebook-f"></i></a>
            <a href="#0"><i class="fab fa-twitter"></i></a>
            <a href="#0"><i class="fab fa-behance"></i></a>
            <a href="#0"><i class="fab fa-pinterest-p"></i></a>
        </div>
    </div>
</header>

<!-- ==================== End Slider ==================== -->

    <!-- ==================== Start blc-sec ==================== -->

    <section class="blc-sec section-padding pb-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="intro md-mb30">
                        <div class="sub-title">
                            <h6>Know Us Better</h6>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <h2 class="extra-title wow" data-splitting>We help to create strategies, design &
                            development.
                        </h2>
                    </div>
                </div>
                <div class="col-lg-5 valign">
                    <div class="full-width">
                        <p class="wow txt" data-splitting>We never underestimate any parts of each project
                            as
                            they're
                            all essential to meeting the
                            ultimate goal. you'll be engaged in with our positive and enthusiastic attitude.
                        </p>
                        <a href="#0" class="simple-btn custom-font mt-20 wow" data-splitting><span>Know More</span></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ==================== End blc-sec ==================== -->



    <!-- ==================== Start Services ==================== -->

    <section class="services section-padding">
        <div class="container">
            <div class="row rone">
                <div class="col-lg-3 wow fadeInUp" data-wow-delay=".4s">
                    <div class="mas-item">
                        <span class="icon pe-7s-monitor"></span>
                        <h6>Website <br> Developments</h6>
                        <div class="text-right">
                            <a href="#0" class="more"><i class="fas fa-chevron-right"></i></a>
                        </div>
                        <div class="bg-color"></div>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 wow fadeInUp" data-wow-delay=".4s">
                    <div class="mas-item">
                        <span class="icon pe-7s-camera"></span>
                        <h6>Product <br> Photography</h6>
                        <div class="text-right">
                            <a href="#0" class="more"><i class="fas fa-chevron-right"></i></a>
                        </div>
                        <div class="bg-color"></div>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 wow fadeInUp" data-wow-delay=".4s">
                    <div class="mas-item">
                        <span class="icon pe-7s-phone"></span>
                        <h6>Mobile App <br> Devlopment</h6>
                        <div class="text-right">
                            <a href="#0" class="more"><i class="fas fa-chevron-right"></i></a>
                        </div>
                        <div class="bg-color"></div>
                    </div>
                </div>
            </div>
            <div class="row rtwo">
                <div class="col-lg-3 offset-lg-1 wow fadeInUp" data-wow-delay=".4s">
                    <div class="mas-item">
                        <span class="icon pe-7s-diskette"></span>
                        <h6>Document <br> Legal Policy</h6>
                        <div class="text-right">
                            <a href="#0" class="more"><i class="fas fa-chevron-right"></i></a>
                        </div>
                        <div class="bg-color"></div>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 wow fadeInUp" data-wow-delay=".4s">
                    <div class="mas-item">
                        <span class="icon pe-7s-help2"></span>
                        <h6>Managing <br> Community</h6>
                        <div class="text-right">
                            <a href="#0" class="more"><i class="fas fa-chevron-right"></i></a>
                        </div>
                        <div class="bg-color"></div>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 wow fadeInUp" data-wow-delay=".4s">
                    <div class="mas-item">
                        <span class="icon pe-7s-arc"></span>
                        <h6>Coustomer <br> Engagement</h6>
                        <div class="text-right">
                            <a href="#0" class="more"><i class="fas fa-chevron-right"></i></a>
                        </div>
                        <div class="bg-color"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ==================== End Services ==================== -->



    <!-- ==================== Start block-sec ==================== -->

    <section class="block-sec">
        <div class="background bg-img section-padding pb-0" data-background="{% static 'web/img/slid/1.jpg' %}" data-overlay-dark="8">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="vid-area">
                            <div class="vid-icon">
                                <a class="vid" href="https://vimeo.com/127203262">
                                    <div class="vid-butn">
                                        <span class="icon">
                                            <i class="fas fa-play"></i>
                                        </span>
                                    </div>
                                </a>
                            </div>

                            <div class="cont">
                                <h3 class="wow" data-splitting>So that's us. There's no other way to put it.</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 offset-lg-1">
                        <div class="testim-box">
                            <div class="head-box">
                                <h6 class="wow fadeIn" data-wow-delay=".5s">Our Happy Clients</h6>
                                <h4 class="wow fadeInLeft" data-wow-delay=".5s">What Client's Say?</h4>
                            </div>
                            <div class="slic-item wow fadeInUp" data-wow-delay=".5s">
                                <div class="item">
                                    <p>Nulla metus metus ullamcorper vel tincidunt sed euismod nibh volutpat velit
                                        class
                                        aptent taciti sociosqu ad litora.</p>
                                    <div class="info">
                                        <div class="img">
                                            <div class="img-box">
                                                <img src="{% static 'web/img/clients/1.jpg' %}" alt="">
                                            </div>
                                        </div>
                                        <div class="cont">
                                            <div class="author">
                                                <h6 class="author-name custom-font">Alex Regelman</h6>
                                                <span class="author-details">Co-founder, Colabrio</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <p>Nulla metus metus ullamcorper vel tincidunt sed euismod nibh volutpat velit
                                        class
                                        aptent taciti sociosqu ad litora.</p>
                                    <div class="info">
                                        <div class="img">
                                            <div class="img-box">
                                                <img src="{% static 'web/img/clients/2.jpg' %}" alt="">
                                            </div>
                                        </div>
                                        <div class="cont">
                                            <div class="author">
                                                <h6 class="author-name custom-font">Alex Regelman</h6>
                                                <span class="author-details">Co-founder, Colabrio</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <p>Nulla metus metus ullamcorper vel tincidunt sed euismod nibh volutpat velit
                                        class
                                        aptent taciti sociosqu ad litora.</p>
                                    <div class="info">
                                        <div class="img">
                                            <div class="img-box">
                                                <img src="{% static 'web/img/clients/3.jpg' %}" alt="">
                                            </div>
                                        </div>
                                        <div class="cont">
                                            <div class="author">
                                                <h6 class="author-name custom-font">Alex Regelman</h6>
                                                <span class="author-details">Co-founder, Colabrio</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ==================== End block-sec ==================== -->



    <!-- ==================== Start Skills Circle ==================== -->

    <section class="skills-circle sub-bg pt-50 pb-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="item wow fadeInLeft" data-wow-delay=".6">
                                    <div class="skill" data-value="0.9">
                                        <span class="custom-font">90%</span>
                                    </div>
                                    <div class="cont">
                                        <span>Project</span>
                                        <h6>Consulting</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="item wow fadeInLeft" data-wow-delay=".3">
                                    <div class="skill" data-value="0.75">
                                        <span class="custom-font">75%</span>
                                    </div>
                                    <div class="cont">
                                        <span>App</span>
                                        <h6>Development</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ==================== End Skills Circle ==================== -->



    <!-- ==================== Start works ==================== -->

    <section class="portfolio section-padding pb-70">
        <div class="container">
            <div class="sec-head custom-font">
                <h6>Portfolio</h6>
                <h3>Our Works.</h3>
                <span class="tbg text-right">Portfolio</span>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">

                <!-- filter links -->
                <div class="filtering text-center col-12">
                    <div class="filter">
                        <span data-filter='*' class="active">All</span>
                        <span data-filter='.brand'>Branding</span>
                        <span data-filter='.web'>Mobile App</span>
                        <span data-filter='.graphic'>Creative</span>
                    </div>
                </div>

                <!-- gallery -->
                <div class="gallery full-width">

                    <!-- gallery item -->
                    <div class="col-lg-4 col-md-6 items graphic wow fadeInUp" data-wow-delay=".4s">
                        <div class="item-img">
                            <a href="project-details.html" class="imago wow">
                                <img src="{% static 'web/img/portfolio/mas/01.jpg' %}" alt="image">
                                <div class="item-img-overlay"></div>
                            </a>
                        </div>
                        <div class="cont">
                            <h6>Creativity Demand</h6>
                            <span><a href="#0">Design</a>, <a href="#0">WordPress</a></span>
                        </div>
                    </div>

                    <!-- gallery item -->
                    <div class="col-lg-4 col-md-6 items web lg-mr wow fadeInUp" data-wow-delay=".4s">
                        <div class="item-img">
                            <a href="project-details.html" class="imago wow">
                                <img src="{% static 'web/img/portfolio/mas/02.jpg' %}" alt="image">
                                <div class="item-img-overlay"></div>
                            </a>
                        </div>
                        <div class="cont">
                            <h6>Through The Breaking</h6>
                            <span><a href="#0">Design</a>, <a href="#0">WordPress</a></span>
                        </div>
                    </div>

                    <!-- gallery item -->
                    <div class="col-lg-4 col-md-6 items brand wow fadeInUp" data-wow-delay=".4s">
                        <div class="item-img">
                            <a href="project-details.html" class="imago wow">
                                <img src="{% static 'web/img/portfolio/mas/03.jpg' %}" alt="image">
                                <div class="item-img-overlay"></div>
                            </a>
                        </div>
                        <div class="cont">
                            <h6>Create With Creatives</h6>
                            <span><a href="#0">Design</a>, <a href="#0">WordPress</a></span>
                        </div>
                    </div>

                    <!-- gallery item -->
                    <div class="col-lg-4 col-md-6 items graphic wow fadeInUp" data-wow-delay=".4s">
                        <div class="item-img">
                            <a href="project-details.html" class="imago wow">
                                <img src="{% static 'web/img/portfolio/mas/04.jpg' %}" alt="image">
                                <div class="item-img-overlay"></div>
                            </a>
                        </div>
                        <div class="cont">
                            <h6>Energies of Love</h6>
                            <span><a href="#0">Design</a>, <a href="#0">WordPress</a></span>
                        </div>
                    </div>

                    <!-- gallery item -->
                    <div class="col-lg-4 col-md-6 items web wow fadeInUp" data-wow-delay=".4s">
                        <div class="item-img">
                            <a href="project-details.html" class="imago wow">
                                <img src="{% static 'web/img/portfolio/mas/05.jpg' %}" alt="image">
                                <div class="item-img-overlay"></div>
                            </a>
                        </div>
                        <div class="cont">
                            <h6>See It Yourself</h6>
                            <span><a href="#0">Design</a>, <a href="#0">WordPress</a></span>
                        </div>
                    </div>

                    <!-- gallery item -->
                    <div class="col-lg-4 col-md-6 items brand wow fadeInUp" data-wow-delay=".4s">
                        <div class="item-img">
                            <a href="project-details.html" class="imago wow">
                                <img src="{% static 'web/img/portfolio/mas/06.jpg' %}" alt="image">
                                <div class="item-img-overlay"></div>
                            </a>
                        </div>
                        <div class="cont">
                            <h6>Blast From The Past</h6>
                            <span><a href="#0">Design</a>, <a href="#0">WordPress</a></span>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>

    <!-- ==================== End works ==================== -->



    <!-- ==================== Start clients Brands ==================== -->

    <section class="clients section-padding sub-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 valign">
                    <div class="sec-head custom-font mb-0">
                        <h6>Clients</h6>
                        <h3>Our <br> Clients.</h3>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div>
                        <div class="row bord">
                            <div class="col-md-3 col-6 brands">
                                <div class="item wow fadeIn" data-wow-delay=".3s">
                                    <div class="img">
                                        <img src="{% static 'web/img/clients/brands/01.png' %}" alt="">
                                        <a href="#0" class="link" data-splitting>www.avo.com</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-6 brands">
                                <div class="item wow fadeIn" data-wow-delay=".6s">
                                    <div class="img">
                                        <img src="{% static 'web/img/clients/brands/02.png' %}" alt="">
                                        <a href="#0" class="link" data-splitting>www.avo.com</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-6 brands">
                                <div class="item wow fadeIn" data-wow-delay=".8s">
                                    <div class="img">
                                        <img src="{% static 'web/img/clients/brands/03.png' %}" alt="">
                                        <a href="#0" class="link" data-splitting>www.avo.com</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-6 brands">
                                <div class="item wow fadeIn" data-wow-delay=".3s">
                                    <div class="img">
                                        <img src="{% static 'web/img/clients/brands/04.png' %}" alt="">
                                        <a href="#0" class="link" data-splitting>www.avo.com</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-6 brands">
                                <div class="item wow fadeIn" data-wow-delay=".4s">
                                    <div class="img">
                                        <img src="{% static 'web/img/clients/brands/05.png' %}" alt="">
                                        <a href="#0" class="link" data-splitting>www.avo.com</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-6 brands">
                                <div class="item wow fadeIn" data-wow-delay=".7s">
                                    <div class="img">
                                        <img src="{% static 'web/img/clients/brands/06.png' %}" alt="">
                                        <a href="#0" class="link" data-splitting>www.avo.com</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-6 brands">
                                <div class="item wow fadeIn" data-wow-delay=".5s">
                                    <div class="img">
                                        <img src="{% static 'web/img/clients/brands/07.png' %}" alt="">
                                        <a href="#0" class="link" data-splitting>www.avo.com</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-6 brands">
                                <div class="item wow fadeIn" data-wow-delay=".3s">
                                    <div class="img">
                                        <img src="{% static 'web/img/clients/brands/08.png' %}" alt="">
                                        <a href="#0" class="link" data-splitting>www.avo.com</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ==================== End clients Brands ==================== -->



    <!-- ==================== Start call-to-action ==================== -->

    <section class="call-action section-padding bg-img" data-background="{% static 'web/img/pattern.png' %}">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-9">
                    <div class="content sm-mb30">
                        <h6 class="wow" data-splitting>Let’s Talk</h6>
                        <h2 class="wow custom-font" data-splitting>about your <b>next project</b>.</h2>
                    </div>
                </div>

                <div class="col-md-4 col-lg-3 valign">
                    <a href="contact.html" class="btn-curve btn-lit"><span>Get In Touch</span></a>
                </div>

            </div>
        </div>
    </section>

    <!-- ==================== End call-to-action ==================== -->

{% endblock %}










